---
title: Our Approach
linkTitle: Our Approach
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Our Approach to Using Diátaxis" image_anchor="bottom" height="min" >}}

{{< /blocks/cover >}}

{{% blocks/lead %}}
It’s tempting to overhaul all the documentation at once to fit the framework because it’s compelling, because it will more readily meet readers’ needs and highlight which of the four genres/modes is missing in our documentation. But that approach won’t be successful: it would take too long, and our product would change by the time we were ready to release the docs.

Instead, we will be taking an iterative approach to writing these docs (as is suggested by the creator/designer of the Diátaxis framework). Rather than changing everything all at once, we will be looking to specific sections, specific pages to ask ourselves
What mode is this? Does it belong here?
What could we change on this specific page to apply this framework?

This will help us determine whether or not we’re going in the right direction as we move forward. And, if we’re not, we can simply pivot and make changes that get us moving in the right direction again.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Who is Using Diátaxis?" url="https://diataxis.fr/adoption/"%}}
See other documentation sites that are using the Diátaxis framework.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
